# --------------------------------------------------
# Python
# --------------------------------------------------

.venv/
__pycache__/
*.py[cod]
.DS_Store


# --------------------------------------------------
# Private source data
# --------------------------------------------------

data/raw/


# --------------------------------------------------
# Private processed data
# --------------------------------------------------

data/processed/


# --------------------------------------------------
# Local databases containing private data
# --------------------------------------------------

database/*.db
database/*.sqlite
database/*.sqlite3


# --------------------------------------------------
# Logs
# --------------------------------------------------

logs/


# --------------------------------------------------
# Environment variables
# --------------------------------------------------

.env